extends ../layout

block headScripts
  script(src="/angular/index.js")
  script(src="/stylesheets/color.css")

block nav_buttons
  li
    a(href="/feed") Feed
  li
    a(href="/hangs") Hangs
  li
    a(href="/friends") Friends
  li
    a(href="/groups") Groups
  li
    a(href="/business") Business Pages
  li
    a(href="/profile") My Profile
  
block content 
  .container-fluid
    .row
      div(class="col-md-4 col-md-offset-4")
        div(class="login-panel panel panel-default")
          div(class="panel-heading")
            h3(class="panel-title") Busines Information
          div(class="panel-body")
            form(name="form" role="form" method="post" action="query/businesses" novalidation)
              fieldset
                div(class="form-group")
                  p Name of the Business
                  input(class="form-control" placeholder="booyah" type="text" name="name" required)
                div(class="form-group")
                  p Business Website
                  input(class="form-control" placeholder="jnijen@live.com" type="url" name="website")
                div(class="form-group")
                  p Cellphone
                  input(class="form-control" placeholder="XXX-XXX-XXXX" type="text" name="cellphone")
                div(class="form-group")
                  p Brief Description of the Business
                  textarea(class="form-control" type="text" name="description" rows="4")
                div(class="form-group")
                  p Address
                  input(class="form-control" type="text" name="adress")
                input(class="btn btn-lg btn-info" type="submit" value="Create Business Page" href="/businesses")