extends ../layout

block headScripts
  script(src="/angular/podsfeed.js")
  script(src="/angular/pods.js")
  style(type="text/css")
    | .container-fluid.nopadding {
    |   padding: 0 !important;
    |   margin: 0 !important;
    | }

block nav_buttons
  li.active
    a(href="/feed") Feed
  li
    a(href="/hangs") Hangs
  li
    a(href="/friends") Friends
  li
    a(href="/profile") My Profile

block content
  .col-sm-6.col-sm-offset-3(ng-controller="podsController as feed")
    .well.well-sm
      post-pod
    .well.well-sm(ng-repeat="pod in feed.pods")
      pod-header
      pod-content
  