extends ../layout

block headScripts
  script(src="/angular/podsfeed.js")
  script(src="/angular/pods.js")
  style(type="text/css")
    | .container-fluid.nopadding {
    |   padding: 0 !important;
    |   margin: 0 !important;
    | }

block content
  .col-sm-6.col-sm-offset-3
    .container-fluid(ng-controller="podsController as feed")
      post-pod
      .well.well-sm(ng-repeat="pod in feed.pods" ng-show="{{pod.visibility}}")
        pod-header
        pod-content
  