extends ../layout

block headScripts
	script(src="/angular/controllers/friendsController.js")
	script(src="/angular/directives/friendsContent.js")

block content
	div(data-role=content ng-controller="friendsController as fc")
		.list-group
			a(href="#" class="list-group-item" ng-repeat="f in fc.friends")
				friend-content
