extends ../layout

block headScripts
	script(src="/angular/controllers/groupsController.js")
	script(src="/angular/directives/groupsContent.js")

block nav_buttons
  li
    a(href="/feed") Feed
  li
    a(href="/hangs") Hangs
  li
    a(href="/friends") Friends
  li.active
    a(href="/groups") Groups
  li
    a(href="/business") Business Pages
  li
    a(href="/profile") My Profile

block content
	div(data-role=content ng-controller="groupsController as gc")
		.list-group
			h3 Your groups
			a(href="/groupprofile?group_id={{g.group_id}}" class="list-group-item" ng-repeat="g in gc.groups")
				groups-content
	div(data-role=content ng-controller="groupsController as gc")
		.list-group
			h3 Groups you belong to 
			a(href="/groupprofile?group_id={{g.group_id}}" class="list-group-item" ng-repeat="g in gc.belonggroups")
				belonggroups-content