extends ../layout

block headScripts
	script(src="/angular/controllers/groupsController.js")
	script(src="/angular/directives/groupsContent.js")

block content
	div(data-role=content ng-controller="groupsController as gc")
		.list-group
			a(href="#" class="list-group-item" ng-repeat="g in gc.groups")
				groups-content
