extends ../layout

block headScripts
  script(src="/angular/index.js")
  script(src="/stylesheets/color.css")
  
block content
  .container-fluid
    .row
      div(class="col-md-4 col-md-offset-4")
        div(class="login-panel panel panel-default")
          div(class="panel-heading")
            h3(class="panel-title") Group Information
          div(class="panel-body")
            form(name="form" role="form" method="post" novalidation)
              fieldset
                div(class="form-group")
                  p Group's Name
                  input(class="form-control" placeholder="Buddies" type="text" name="name")
                div(class="form-group")
                  p Add people to the group
                input(class="btn btn-lg btn-info" type="submit" value="Create Group")