extends ../layout

block nav_buttons
  li
    a(href="/feed") Feed
  li.active
    a(href="/hangs") Hangs
  li
    a(href="/friends") Friends
  li
    a(href="/groups") Groups
  li
    a(href="/business") Business Pages
  li
    a(href="/profile") My Profile

block headScripts
  script(src="/angular/controllers/hangsController.js")
  script(src="/angular/directives/hangsContent.js")

block content
  div(data-role=content ng-controller="hangsController as hl")
    .list-group
      a(href="/hang?hang_id={{h.hang_id}}" class="list-group-item" ng-repeat="h in hl.list")
        hangs-content