extends ../layout

block headScripts
  script(src="/angular/index.js")
  script(src="/stylesheets/color.css")
  script(src="/angular/controllers/hangfriendsController.js")
  script(src="/angular/directives/hangfriendsContent.js")

block content
  .container-fluid
    .row
      div(class="col-md-4 col-md-offset-4")
        div(class="login-panel panel panel-default")
          div(class="panel-heading")
            h3(class="panel-title") Information on the Hang
          div(class="panel-body")
            form(name="form" role="form" method="post" id="form" novalidation action="query/newhang")
              input(class="btn btn-lg btn-info pull-right" type="Submit" value="Create Hang" for="form")
              .fieldset
                div(class="form-group")
                  p Name of the Hang
                  br
                  input(class="form-control" value="#{hangname}" type="text" name="name" required)
                div(class="form-group")
                  p Time of the Hang
                  input(class="form-control" placeholder="Time of Hang" type="time" name="time" value="#{time}" required)
                div(class="form-group")
                  p Location of Hang
                  input(class="form-control" placeholder="Location of Hang" type="text" name="place" required)
                div(ng-controller="hang-friendsController as fc") FRIENDS
                  p Select All   
                    input(type="checkbox" ng-model="SelectAll")
                  .list-group
                      a(href="#" class="list-group-item" ng-repeat="f in fc.friends")
                        hangfriends-content
                  