extends ../layout

block headScripts
  script(src="/angular/index.js")
  script(src="/stylesheets/color.css")
  script(src="/angular/controllers/profileController.js")
 
block nav_buttons
  li
    a(href="/feed") Feed
  li
    a(href="/hangs") Hangs
  li
    a(href="/friends") Friends
  li.active
    a(href="/myprofile") My Profile

block content
   .container-fluid
      div(class="well well-lg")
         img(class="img-rounded img-responsive" src="/images/thumbnails/default_thumb.png"
         alt="Victor's Thumbnail." width="500" height="500")
         div(class="h3 text-center" ng-controller="profileController as profile") {{profile.items[0].first_name}} {{profile.items[0].last_name}}
         div(class="col-xs-12" ng-show="false")
            input(class="btn btn-success btn-xs btn-block" type="submit" value="Send Friend Request" name="friendreq")
         div(class="col-xs-12" ng-show="true")
            input(class="btn btn-danger btn-xs btn-block" type="submit" value="Unfriend User" name="unfriend")
         // Subsitute with tab code in feed
      div(class="well well-lg")
         ul(class="nav nav-tabs")
            li(class="col-xs-4 active")
               a(data-toggle='tab' href='#menu1' class="glyphicon glyphicon-list-alt")
            li(class="col-xs-4")
               a(data-toggle='tab' href='#menu2' class="glyphicon glyphicon-camera")
            li(class="col-xs-4")
               a(data-toggle='tab' href='#menu3' class="glyphicon glyphicon-facetime-video")
            div
               .tab-content
                  div(id="menu1" class="tab-pane fade-in active")
                     h3 Posts
                     p Some content.
                  div(id="menu2" class="tab-pane fade-in")
                     h3 Photos
                     p Some content in menu 1.
                  div(id="menu3" class="tab-pane fade-in")
                     h3 Videos
                     p Some content in menu 2.