extends ../layout

block headScripts
  script(src="/angular/controllers/searchController.js")
  script(src="/angular/directives/searchContent.js")

block content
  div(class="container-fluid")
    h3 Showing results for "#{search}""
      div(data-role=content ng-controller="searchController as sc")
        .list-group
          a(href="#" class="list-group-item" ng-repeat="c in sc.list")
            search-content